@media (280px <= width <= 331px) {
  .get-started-btn {
    width: 220px;
    height: 50px;
  }
  main {
    padding-bottom: 50px;
  }
  .sec {
    padding: 0;
  }
  .footer_sec {
    padding: 50px 20px;
  }
  .ready__to--start {
    padding: 30px 20px;
    bottom: 740px;
    margin: 0 10px;
  }
  .ready__btn {
    width: 230px;
    height: 55px;
  }
}