@media only screen and (max-width: 992px) {
  .nav__container {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  .content__img {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
  main {
    padding: 50px 50px 100px 50px;
  }
  .info {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 20px;
  }
  .info__img img {
    width: 60%;
    display: block;
    margin: auto;
  }
  .info__text {
    text-align: center;
  }
  .info__text--one {
    margin-left: 0;
  }
  .info__text--two {
    margin: 0 20px;
  }
  #info__two {
    display: flex;
    flex-direction: column-reverse;
  }
  ul {
    padding-left: 0;
  }
  .sec {
    padding: 30px 50px;
  }
  .logo-white {
    padding-left: 0;
  }
  .location {
    padding-left: 0;
  }
  .contact {
    padding-left: 0;
  }
  .mail {
    padding-left: 0;
  }
  .sec__two {
    justify-content: flex-start;
  }
  .sec__two ul li:nth-child(3) {
    margin-bottom: 0;
  }
  .sec__three ul li:nth-child(1) {
    margin-top: 0;
  }
  .sec__three {
    justify-content: flex-start;
  }
  .sec__four {
    height: 0;
    align-items: center;
    padding-bottom: 50px;
  }
  .socials {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .copyright {
    padding-left: 0;
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    padding-top: 0;
  }
  .navbar-brand img {
    width: 80px;
    height: 13px;
  }
  .nav__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }
  .try-btn {
    width: 120px;
    height: 40px;
  }
  .content {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .content__img {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  main {
    padding: 30px 30px 70px 30px;
  }
  .info {
    height: 480px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 20px;
  }
  .info__img img {
    width: 80%;
    display: block;
    margin: auto;
  }
  .info__text {
    text-align: center;
  }
  .info__text--one {
    margin-left: 0;
  }
  .info__text--two {
    margin: 0 13px;
  }
  #info__two {
    display: flex;
    flex-direction: column-reverse;
  }
  ul {
    padding-left: 0;
  }
  .sec {
    padding: 30px;
  }
  .logo-white {
    padding-left: 0;
  }
  .location {
    padding-left: 0;
  }
  .contact {
    padding-left: 0;
  }
  .mail {
    padding-left: 0;
  }
  .sec__two {
    justify-content: flex-start;
  }
  .sec__two ul li:nth-child(3) {
    margin-bottom: 0;
  }
  .sec__three ul li:nth-child(1) {
    margin-top: 0;
  }
  .sec__three {
    justify-content: flex-start;
  }
  .sec__four {
    height: 0;
    align-items: center;
    padding-bottom: 50px;
  }
  .socials {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .copyright {
    padding-left: 0;
  }
}
@media (992px <= width <= 1150px){
  .ready__to--start {
    bottom: 380px;
  }
}
@media (707px <= width <= 991px) {
  .sec{
    padding: 0;
  }
  .footer_sec {
    padding: 60px 30px;
  } 
  .ready__to--start {
    padding: 40px 50px;
    bottom: 680px;
    margin: 0 10px;
  }
  .ready__btn {
    width: 230px;
    height: 55px;
  }
}
@media (601px <= width <= 707px) {
  .sec{
    padding: 0;
  }
  .footer_sec {
    padding: 60px 30px;
  } 
  .ready__to--start {
    padding: 40px 50px;
    bottom: 710px;
    margin: 0 10px;
  }
  .ready__btn {
    width: 230px;
    height: 55px;
  }
}
@media (332px <= width <= 600px) {
  .sec{
    padding: 0;
  }
  .footer_sec {
    padding: 60px 20px;
  } 
  .ready__to--start {
    padding: 30px 20px;
    bottom: 720px;
    margin: 0 10px;
  }
  .ready__btn {
    width: 230px;
    height: 55px;
  }
}
@media (280px <= width <= 331px) {
  .get-started-btn {
    width: 220px;
    height: 50px;
  }
  main {
    padding-bottom: 50px;
  }
  .sec {
    padding: 0;
  }
  .footer_sec {
    padding: 50px 20px;
  }
  .ready__to--start {
    padding: 30px 20px;
    bottom: 740px;
    margin: 0 10px;
  }
  .ready__btn {
    width: 230px;
    height: 55px;
  }
}
